<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/fieldwork/styles.css">

    {% load static %}
    <title>Form</title>
</head>
<body>
    
    
    <!-- <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">New Observation</h3>
        <p>Enter information about your observation into the form below</p>
        <form action="{% url 'user_form' %}" method="POST">{% csrf_token %}
            {{ form }}
          <input id="fname" class="w3-input w3-section w3-border" type="text"  placeholder="First name" required name="fname">
          <input id="lname" class="w3-input w3-section w3-border" type="text"  placeholder="Last Name" required name="lname">
          <button class="w3-button w3-black w3-section" type="submit">
            <i class="fas fa-truck-monster" href="favicon.ico"></i>
             UPLOAD
          </button>
        </form>
      </div> -->
    

  <!-- <input type="submit" value="Submit"> -->
</form>
</body>
</html>